@media(max-width: 992px) {

    .showcase h1 {
        font-size: 2.5rem;
    }

    .areas ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }

    .arrow {
        display: none;
    }

    .dropdown .btn-success {
        width: 130px;
        height: 80px;
    }

  

}

@media(max-width: 768px) {
     .showcase h1 {
         font-size: 2rem;
     }

     .logo img {
         width: 50px;
     }

     .columns {
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     }

}

@media(max-width: 600px) {
    .header-1 ul a {
        font-size: 14px;
    }
}

@media(max-width: 505px) {
    .showcase h1 {
        font-size: 1.2rem;
    }

    .title .line {
        width: 30px;
        height: 5px;
    }


    .footer p {
        font-size: 14px;
    }

    header {
        display: none;
    }

}